:root {
  /* Colors */
  --accent: #9bc400;
  --main: #8076a3;
  --secondary: #f9c5bd;
  --shade: #f1f1f5;
  --lighter-shade: #f5f5fa;
  --dark-shade: #cacacd;
  --white: white;
  --black: black;
  --warning: red;
  /* Shadows */
  --large-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  --small-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  /* Sizes */
  --menu-leftcol: 140px;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 0.9rem;
  background-color: var(--shade);
}

button {
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px 15px;
  margin: 10px;
  background-color: var(--white);
  color: var(--accent);
  border: 1px solid var(--accent);
  box-shadow: var(--small-shadow);
}

button:disabled,
button:disabled:hover {
  background-color: var(--white);
  color: var(--dark-shade);
  cursor: no-drop;
  border: 1px solid var(--dark-shade);
  box-shadow: none;
}

button:disabled:hover + .warning {
  display: inline;
  color: var(--warning);
}

button:hover {
  background-color: var(--accent);
  color: var(--shade);
  border: 1px solid var(--accent);
}

.warning {
  display: none;
}

.item {
  padding: 10px;
  display: flex;
  align-items: center;
}

.item.button {
  margin-left: var(--menu-leftcol);
}

.item div:nth-child(1) {
  width: var(--menu-leftcol);
  text-align: right;
  margin-right: 10px;
}

.item div:nth-child(2) {
  flex: 1;
}

label {
  color: var(--main);
  cursor: pointer;
  text-shadow: 0 0 1px var(--main);
}

label:hover {
  color: var(--black);
  cursor: pointer;
}

#main {
  display: flex;
}

#canvasContainer {
  background-color: var(--white);
  border: 1px solid var(--main);
  box-shadow: var(--large-shadow);
  margin: 10px;
  overflow-x: auto;
  width: 600px;
}

#tableContainer {
  flex: 1;
  height: 383px;
  margin: 10px;
  overflow-y: auto;
  padding: 0 15px;
}

#cardsTable {
  background-color: var(--white);
  border-collapse: collapse;
  box-shadow: var(--large-shadow);
  font-family: sans-serif;
  min-width: 400px;
  margin: 0;
  display: none;
}

#cardsTable.visible {
  display: table;
}

#cardsTable thead tr {
  background-color: var(--main);
  color: var(--white);
  text-align: left;
}

#cardsTable tbody tr:hover td {
  color: var(--accent);
  text-shadow: 0 0 1px var(--accent);
}

#cardsTable th,
#cardsTable td {
  padding: 12px 15px;
}

#cardsTable tbody tr {
  border-bottom: 1px solid var(--dark-shade);
}

#cardsTable tbody tr:nth-of-type(even) {
  background-color: var(--lighter-shade);
}

#cardsTable tbody tr:last-of-type {
  border-bottom: 2px solid var(--main);
}
